#body-menu {
    margin-top: 50px;
    
    
}

.main-menu {
    margin: 23px;
}


a {
    border-radius: 10px;
    background-color: rgb(241, 220, 213);
    padding: 13px;
    border: solid 3px #c8652d;
    color: black;
    text-decoration: none;
    
}


#container {
    display: flex;
    align-items: top;
    padding:100px;
    background-color: rgb(97, 53, 43);
    width: 1000px;
    height: 400px;
    border-radius: 20px;
    border: solid 3px rgb(200, 101, 45);
    color: white;
}

