#body-menu {
    margin-top: 50px;
    
}
.main-menu {
    margin: 23px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    font-style: italic;
}

section > p {
    padding: 5px;
    font-size: 18px;
}
/* 
/* PAGINAS */
.container {
    padding: 50px;
    display: flex;
    align-items: top;
    flex-direction: column;
    background-color: rgb(247, 232, 212);
    width: 1000px;
    max-height: 800px;
    border-radius: 20px;
    border: solid 3px rgb(200, 101, 45);
    color: rgb(56, 32, 15);
} 
*/

/* MENUS */
#container {
    display: flex;
    align-items: top;
    padding:100px;
    background-color: rgb(97, 53, 43);
    max-width: 1000px;
    max-height: 400px;
    border-radius: 20px;
    border: solid 3px rgb(200, 101, 45);
    color: white;
}

header > nav > .selecionado {
    background-color: rgb(97, 53, 43); 
    color: white;
}
 