* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body02 {
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    background-image: url('/imagens/inicio.png');
    background-size: cover; /* Faz a imagem preencher toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */

}

#container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os botões */
}



button {
    height: 50px;
    width: 350px;
}

footer {
    font-size: 15px;
    padding: 1px;
    background-color: rgb(97, 53, 43);
    color: white;
    width: 100%;
    height: 60px;
    margin-top: 300px; /* Empurra o footer para baixo */
    margin-bottom: 20px;
    text-align: center;
}

.esquerdo {
    margin: 80px;
    text-align: left;
}

.centro {
    margin: 80px;
    text-align: center;
}

.direito {
    margin: 80px;
    text-align: right;
}

a {
    text-decoration: none;
}